/* Global Colors */ 
:root {
    --gray1-color: rgb(142, 142, 147);
    --gray2-color: rgb(99, 99, 102);
    --gray3-color: rgb(72, 72, 74);
    --gray4-color: rgb(58, 58, 60);
    --gray5-color: rgb(44, 44, 46);
    --gray6-color: rgb(28, 28, 30);

    --lightgray4-color: rgb(209, 209, 214);
    --lightgray6-color: rgb(242, 242, 247);

  }

/* Body and Font Style */ 

 body {
     background-color: var(--gray6-color);
     color: var(--lightgray6-color);
    bottom: 0;
     min-height: 100vh;
 }

/* General use classes */

.myMuted {
    color: var(--gray1-color);
}

.black {
    color: black;
}

.red {
    background-color: red;
}

/* navbar */

.navBg {
    background-color: rgba(44, 44, 46, 0.452);
}

 /* Cards */
.card {
    border-color: var(--gray5-color);;
}

 .card-body {
     background-color: var(--gray4-color);
 }

.card-header{
    background-color: var(--gray5-color);
}

.card-footer {
    background-color: var(--gray5-color);
}

/* Calculators */

.calcBg {
    background-color: var(--gray5-color);
}

/* Footer */

.footer {
    clear: both;
    position: relative;
    height: 75px;
    margin-top: -75px;
    text-align: center;
}